@using Mostaqer.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<main aria-labelledby="title">
    <div class="row ">
        <div class="col-md-4 p-5">
            <h2 class="text-center text-primary " id="title">@ViewBag.Title</h2>

            <section id="loginForm" class="row">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12 ">
                        @Html.Label("User name", new { @class = " col-form-label" })


                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="row mt-3">
                        <div class=" col-md-12">
                            @Html.ActionLink("Forgot password?", "ForgotPassword")
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class=" col-md-12">
                            <input type="submit" value="Log in" class="btn btn-primary ps-5 pe-5 " />
                            @Html.ActionLink("Create New account ", "Register", null, new { @class = "btn btn-outline-primary" })

                        </div>
                    </div>
                  


                }
            </section>
        </div>
        <div class="col-md-8 text-center">
            <img width="600" height="522" src="~/Images/loginbg.jpg" />
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}