@model Mostaqer.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 col-form-label " })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control mt-2" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.phoneNumber, new { @class = "col-md-2 col-form-label " })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control mt-2" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control mt-2" })
            </div>
        </div>
        <div class="row">
            @Html.Label("Account type", htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownList("userType",null, htmlAttributes : new { @class = "form-control mt-2" } )
                @Html.ValidationMessageFor(model => model.userType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control mt-2" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row text-center">
            <div class="offset-md-2 col-md-10 mt-2">
                <input type="submit" value="Register" class="btn btn-outline-success" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
